@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EduExamine.Models.Teacher>

@{
    ViewBag.Title = "AdIndexAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Adminmenu
{
    @Html.Partial("~/Views/Shared/Adminmenu.cshtml")
}

<div class="container-start">

    @*<div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Views/Teachers/_HomeMenu.cshtml", Model)
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12 text-left" title="Add New Teacher">
            <h5>
                @Html.ActionLink("+ Add New", "Create", new { menuId = (int)Model.First().Types })
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.First().FullName != "")
            {
                
                foreach (var item in Model)
                {
                    <div class="col-lg-2 newBox" style=" text-align: center;" title="@item.FullName">
                        <div class="row head">
                            @item.FullName
                        </div>
                        <div class="row head" style=" text-align: center;" title="subject added">
                            @item.TeacherSubjects.Count()
                        </div>
                        <div class="row control">
                            <div class="col-md-4 btntext" title="Add Subject">
                                @Html.ActionLink("Subjects", "SubjectDisplay", new { id = item.TeacherId })
                            </div>
                            <div class="col-md-4 btntext" title="Change Teacher inforamtion">
                                @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId })
                            </div>
                            <div class="col-md-4 btntext" title="Remove Teacher">
                                @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12 newBox" title="No records">
                    <div class="row head" style="height:250px;">
                        Click to add new Teacher
                    </div>
                    <div class="row control">
                        
                    </div>
                </div>
            }
        </div>
        <div class="col-md-12 text-center">
            @Html.PagedListPager(Model, page => Url.Action("TIndex", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
    </div>
</div>
