<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" title="@Request.Cookies["MapsUser"]["Email"].ToString()">
                <a href="@Url.Action("AdIndex","Admins",null)" class="circle">
                    <span>@Request.Cookies["MapsUser"]["Type"].ToString().Substring(0, 1)</span>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("AdIndexAdmin", "Admins", null)">ADMIN</a></li>
                <li><a href="@Url.Action("EdIndex", "EduYears", null)">EDU-YEAR</a></li>
                <li><a href="@Url.Action("CIndex", "Classes", null)">CLASS</a></li>
                <li><a href="@Url.Action("TIndex", "Teachers", null)">TEACHER</a></li>
                <li><a href="@Url.Action("EIndex", "Exams", null)">EXAM</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" title="LOGOUT">
                <li><a href="@Url.Action("Logout","Admins",null)">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</div>
