@model MaspTeachingWebmvc.Models.Admin

@{
    ViewBag.Title = "AdEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Adminmenu
{
    @Html.Partial("~/Views/Shared/Adminmenu.cshtml")
}
@functions{
    public string Authonticated(int menuId)
    {
        string value;
        if (menuId == 0)
        {
            value = "Admin";
        }
        else if (menuId == 1)
        {
            value = "Supervisor";
        }
        else if (menuId == 2)
        {
            value = "Principal";
        }
        else
        {
            value = "Teacher";
        }
        return value;

    }
}
<div class="container-start">
    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight:normal; font-family:'Century Gothic';">Add @Authonticated(Model.Types)</h3>
        </div>
        <div class="col-md-12 top-twenty">
            @using (Ajax.BeginForm("AdEdit", new AjaxOptions { }))
            {
                <div class="alert-danger error-list">
                    <div id="errorD" style="padding:10px; margin-bottom:20px; display:none;">

                    </div>
                </div>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Types)
                @Html.HiddenFor(model => Model.AdminId)
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.Status)
                <div class="form-group input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "ENTER LOGIN NAME" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-control-feedback" })
                </div>
                <div class="form-group input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "PASSWORD", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger form-control-feedback" })
                </div>
                <div class="form-group input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                    <input type="password" id="CPassword" name="CPassword" class="form-control" placeholder="CONFIRM PASSWORD" />
                </div>
                <div class="form-group text-right">
                    <input id="submit" type="button" disabled="disabled" value="Edit" onclick="submitUniversal(this, '@Url.Action("AdIndexAdmin", "Admins", new { menuId = Model.Types })');" class="btn btn-info" />
                    <a href="@Url.Action("AdIndexAdmin", "Admins", new { menuId = Model.Types })" class="btn btn-default">
                        Back
                    </a>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var errorD = $("div#errorD");
            $("input#CPassword").on("keyup", function () {
                var btnSubmit = $("#submit");
                btnSubmit.attr("disabled", "disabled");
                var cpassword=$(this).val();
                var password = $("input#Password").val();

                if(password == cpassword)
                {
                    errorD.show();
                    errorD.text("Password Matched.")
                    btnSubmit.removeAttr("disabled", "disabled");
                }
                else
                {
                    errorD.show();
                    errorD.text("Password does not Matched.")
                }
            });
        });
    </script>
}